<h1>Get Your Daily Coins Here</h1>
<h2>Current coins: {{ coins }}</h2>
<form action="/tracker/dailyreward" method="post">
    <div class="form-group mb-3">
        <label>Click To Get Your Daily Coins</label>
        <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary form-control">Get Coins</button>
        </div>
    </div>
</form>