<h1>Log Analysis</h1>

<div>
    <div>Duration played this week</div>
    <h3>{{weekDuration}}</h3>
</div>

<table>
    <thead>
    <td>
        <th>Duration</th>
        <th>Created at</th>
    </td>
    </thead>
    <tbody>
        {{#each logs}}
        <tr>
            {{!-- this is assuming duration and created at follows this data structure --}}
            {{!-- e.g. duration: string = "1 Hour, 56 Minutes" --}}
            {{!-- e.g. createdAt: string = "12/05/2023 12:00:00" --}}
            <th>{{this.duration}}</th>
            <th>{{this.createdAt}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>