<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{count}}</h1>
    <form action="/question/add" method="post">
        <label>Question Title</label>
        <input type="text" name="question"/> <br>
        <label>Answers</label>
        <div id="add_answers"></div>
        {{!-- question 1 at the bottom, last question on top 
        e.g
        
        question4
        question3
        question2
        question1
        
        --}}
        <input type="button" onclick="addAnswer()" value="Add Answer"/> <br>
        <input type="hidden" id="NumberOfAnswers" name="NumberOfAnswers"/> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

<script>
    var questionCount = 0;
    function addAnswer(){
        questionCount++;
        //alert(questionCount);
        //set question limit
        document.getElementById("add_answers")
                        .insertAdjacentHTML("afterend", `<input type="text" class="answer" name="answer${questionCount}"/> <br>`);
        document.getElementById("NumberOfAnswers").value = questionCount;
        
    }
</script>
<style>
    .answer{
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>