<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>copied
    </h1>
    <h1>{{count}}</h1>
    <form action="/question/add" method="post">
        <label>Question Title</label>
        <input type="text" name="question"/> <br>
        <label id="clearMe">Answers</label>
        <div id="add_answers"></div>
        {{!-- question 1 at the bottom, last question on top 
        e.g
        
        question4
        question3
        question2
        question1
        
        --}}
        <input type="button" onclick="addAnswer()" value="Add Answer"/> <br>
        <input type="hidden" id="NumberOfAnswers" name="NumberOfAnswers"/> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

<script>
    var questionCount = 0;
    function addAnswer(){
        questionCount++;
        //alert(questionCount);
        //set question limit
        
        document.getElementById("clearMe").innerHTML = "<label></label>";
        if(questionCount > 3){
            alert("Max number of questions reached")
        } else{
        document.getElementById("add_answers")
                        .insertAdjacentHTML("afterend", `<label>Answer ${questionCount}</label><input type="text" class="answer" name="answer${questionCount}"/> <label>Remark</label><input type="text" class="remark" name="remark${questionCount}"/><br>`);
        document.getElementById("NumberOfAnswers").value = questionCount;
        }
        
        
    }
</script>
<style>
html, body {
min-height: 100%;
padding: 0;
margin: 0;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
text-align: center;
justify-content: center;
margin-left: 5%;
margin-right: 5%;
}
h1 {
margin: 0 0 20px;
font-weight: 400;
color: #1c87c9;
}
p {
margin: 0 0 5px;
}
.main-block {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #1c87c9;
}
form {
padding: 25px;
margin: 25px;
box-shadow: 0 2px 5px #f5f5f5; 
background: #f5f5f5; 
display: inline-block;
justify-content: center;
}
.fas {
margin: 25px 10px 0;
font-size: 72px;
color: #fff;
}
.fa-envelope {
transform: rotate(-20deg);
}
.fa-at , .fa-mail-bulk{
transform: rotate(10deg);
}
input, textarea {
width: calc(100% - 18px);
padding: 8px;
margin-bottom: 20px;
border: 1px solid #1c87c9;
outline: none;
}
input::placeholder {
color: #666;
}
button {
width: 100%;
padding: 10px;
border: none;
background: #1c87c9; 
font-size: 16px;
font-weight: 400;
color: #fff;
}
button:hover {
background: #2371a0;
} 
@media (min-width: 568px) {
.main-block {
flex-direction: row;
}
.left-part, form {
width: 50%;
}
.fa-envelope {
margin-top: 0;
margin-left: 20%;
}
.fa-at {
margin-top: -10%;
margin-left: 65%;
}
.fa-mail-bulk {
margin-top: 2%;
margin-left: 28%;
}
}
</style>